@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Nk0&skey=6a35e1ecdd8270ea&v=v23) format('woff');
}
